/* Master styles */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
   
   /* background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    background-color: rgb(169, 169, 212);

}

.master{
    display: grid;
    grid-template-columns: 1fr;
}

/* Navigation bar styles*/
.topBar{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left{
    display: flex;

}

.topBar > .left > div{
    margin-right: 20px;
    font-size: 0.8;

}

.link{
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link a{
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.link:hover {
    border-bottom: 1px solid black;
}

.link a:hover {
    color: black;
}

/*Protfolio Styles*/

.port-all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.port{
    position: relative;
}

.image{
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}

/*  Puts text inside of the image, instead of the default below*/ 
.img-txt{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

}

.img-txt .img-description{
   transition: 1s;
   font-weight: 600;
   color: transparent;
}

.img-txt:hover .img-description{
    font-weight: 500;
    color:crimson;
}


/*ABOUT ME*/
.about-me-page{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.profile-pic img{
    width: 600px;
    height: 900px;
    padding-left: 150px;
   
}

.about-me-written{
    padding: 40px;
    font-size: large;

}

.about-me-written h1{
    color: crimson;
}
h1{
    text-align: center;
}
/*TABLE*/
table{
    width: 400px;
    margin-left: 1%;
    margin-right: auto;
    
       
}



th{
    text-align: left;

}
td{
    background-color: blanchedalmond;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

 th, td{
   padding: 5px;
}

caption{
    font-size: 27px;
    color: crimson;
}

.Hobbies{
    text-align: center;
}





li{
    margin-left: 40%;
   font-style: oblique;
   font-size: large;

}
h1{
    font-family: cursive;
    color: crimson;
}

h2{
    text-align: center;
    color: crimson;
}

.about-me-written2{
    margin-left: 10%;
    margin-right: 10%;
    font-size: larger;
}


#TopButton {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    left: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:rgb(56, 3, 53); 
    color: white; 
    cursor: pointer; 
    padding: 30px; 
    border-radius: 50px; 
    font-size: 18px; 
  }
  
  #mTopButton:hover {
    background-color: #555; 
  }
